*{
  padding:0;
  margin:0;
}

header{
  top:0;
}

#brake{
  margin-top:90px !important;
}


.wave-container {  
  height: 30vh;
  background-color: #20B2AA;
  position: relative;
}

.wave-container::before {   
  content: "";
  width: 100%;
  height: 19px;
  position: absolute;
  bottom: -0.3%;
  left: 0;
  background-size: auto;
  background-repeat: repeat no-repeat;
  background-position: 16vw bottom;
  background-image: url("data:image/svg+xml;utf8,<svg viewBox='0 0 1200  134' fill='none' xmlns='http://www.w3.org/2000/svg'><path d='M0 98L50 92C100 86 200 74 300 50C400 26 500 -10 600 2C700 14 800 74 900 98C1000 122 1100 110 1150 104L1200 98V134H1150C1100 134 1000 134 900 134C800 134 700 134 600 134C500 134 400 134 300 134C200 134 100 134 50 134H0V98Z' fill='%23FFF5EE'/></svg>");
}

@media(max-width:850px) {
  .wave-container::before {    
    height: 9.5px
  }  
}

.custom-shape-divider-top-1704952729 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-border {
  position: relative;
  padding: 20px; /* 调整内容区域与边框的距离 */
}

.custom-border::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  border-left :3px solid #000; /* 使用 border-left 控制左边的边框 */
  box-sizing: border-box;
}

.check-button{
  background-color: rgb(246, 130, 31);
  text-decoration: none;
  color:white;
  border-radius: 14px 14px 14px 14px;
  padding: 14px 40px 14px 40px;
  font-weight: bold;
  font-size:22px;
  border-radius: 14px;
  border-width: 0;
  border-bottom-color :rgb(207, 106, 20);
  border-bottom-style: solid;
  border-bottom-width :4px;
}

.check-button :hover{
  background-color:#ca6d1c;
}

.content-link{
  text-decoration: none;
  color:hsl(28, 79%, 53%);

}

