
html { overflow-x:hidden; }
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s;
}

.show{
  opacity: 1;
  filter:blur(0);
  transform: translateX(0);
}

.hidden2{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(100%);
  transition: all 1s;
}

.show2{
  opacity: 1;
  filter:blur(0);
  transform: translateX(0);
}

.fade-in {
  opacity: 0;
  transition: opacity 3s;
}

.fade-in2 {
  opacity: 0;
  transition: opacity 2s;
}

.fade-in3 {
  opacity: 0;
  transition: opacity 4s;
}

.fade-out {
  opacity: 1;
}





